<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/gamePopupUtils.css">
    <title><%= process.env.REACT_APP_PROJECT_NAME %> - Game</title>
    <link rel="stylesheet" href="/css/game.css">
    <script src="/js/gamePopupUtils.js" defer></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/js/config.js" defer></script>
    <script src="/js/indexuserutils.js" defer></script>
    <script src="/js/indexroomutils.js" defer></script>
    <script src="/js/game.js" defer></script>
</head>
<body>

    <div id="popup-overlay" class="popup-overlay" onclick="closePopup()">
        <div id="popup-content" class="popup-content" onclick="event.stopPropagation();">
            <!-- Contenuto del popup verrà gestito dinamicamente -->
            <div id="popup-header">
                <h2 id="popup-title">Titolo del Popup</h2>
                <button id="popup-close" onclick="closePopup()">✖</button>
            </div>
            <div id="popup-body">
                <!-- Corpo dinamico del popup -->
            </div>
        </div>
    </div>
  

    <div id="game-layout">
        <!-- Mappa -->
        <div id="map-area">
            <%- include('gameMap') %> <!-- Include la mappa -->
        </div>
        <!-- Tabs -->
        <div id="tabs-area">
            <%- include('gameTabs') %> <!-- Include i tabs -->
        </div>
    </div>




    <div class="gameMapSelector" id="gameMapSelector">
        <div class="gameMapSelectorcontent">
            <%- include('gameMapSelector') %> <!-- Include i tabs -->
        </div>
    </div>
    <div class="gameMapSelectorFlag" onclick="toggleGameMapSelector()">Maps</div>

</body>
</html>