<div id="map-selector">
    <div id="maps-container">
        <!-- Le anteprime e il pulsante "+" verranno generati dinamicamente -->
    </div>
</div>

<script src="/js/gameMapSelector.js" defer></script>
<link rel="stylesheet" href="/css/gameMapSelector.css">