<div id="map-selector">
    <h1>Seleziona una Mappa</h1>

    <!-- Contenitore per le mappe -->
    <div id="maps-container">
        <!-- Riquadri o pulsante "Aggiungi" saranno generati dinamicamente -->
    </div>
</div>

<script src="/js/gameMapSelector.js" defer></script>
<link rel="stylesheet" href="/css/gameMapSelector.css">