<div id="gameMap">
    <div id="map-wrapper">
        <canvas id="map-canvas"></canvas>
    </div>
</div>

<script src="/js/gameMap.js" defer></script>
<link rel="stylesheet" href="/css/gameMap.css">
