/* Layout principale */
#game-layout {
    display: flex; /* Utilizza Flexbox per suddividere lo spazio */
    height: 100vh; /* Altezza del viewport */
    width: 100vw; /* Larghezza del viewport */
}

/* Area della mappa */
#map-area {
    flex: 7; /* 70% dello spazio */
    background-color: #333; /* Grigio scuro */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Nasconde elementi fuori dal contenitore */
}

/* Area dei tabs */
#tabs-area {
    flex: 3; /* 30% dello spazio */
    background-color: #222; /* Grigio ancora più scuro */
    color: #fff; /* Testo bianco */
    overflow-y: auto; /* Abilita lo scorrimento verticale */
    border-left: 2px solid #4caf50; /* Bordo visivo tra mappa e tabs */
}