/* Rimuove i margini e padding predefiniti di body e html */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Assicura che il padding sia incluso nelle dimensioni */
}

* {
    box-sizing: inherit; /* Estende il comportamento del box-sizing */
}
#game-layout {
    outline: 2px solid red; /* Per evidenziare i confini */
}

/* Layout principale */
#game-layout {
    display: flex; /* Utilizza Flexbox per suddividere lo spazio */
    height: 100vh; /* Altezza del viewport */
    width: 100vw; /* Larghezza del viewport */
}

/* Area della mappa */
#map-area {
    flex: 7; /* 70% dello spazio */
    background-color: #333; /* Grigio scuro */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Nasconde elementi fuori dal contenitore */
}

/* Area dei tabs */
#tabs-area {
    flex: 3; /* 30% dello spazio */
    background-color: #222; /* Grigio ancora più scuro */
    color: #fff; /* Testo bianco */
    overflow-y: auto; /* Abilita lo scorrimento verticale */
    border-left: 2px solid #4caf50; /* Bordo visivo tra mappa e tabs */
}













.gameMapSelector {
    position: fixed;
    top: -400px; /* Div inizialmente nascosto */
    left: 40%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 900px;
    background-color: #333;
    border: 2px solid #000000; /* Bordo visibile */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: top 0.5s ease;
    height: 400px; /* Altezza fissa */
    overflow: hidden; /* Previene overflow inatteso */
}

.gameMapSelectorFlag {
    position: fixed;
    top: 10px; /* Posiziona la linguetta */
    left: calc(50% + 250px); /* Allinea la linguetta a destra del div */
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.gameMapSelectorFlag:hover {
    background-color: #81c784; /* Cambiato per un effetto hover più visibile */
}

.gameMapSelectorcontent {
    padding: 20px;
    height: 400px; /* Altezza fissa */
    overflow-y: auto; /* Abilita lo scrolling verticale */
    box-sizing: border-box; /* Include padding e bordo nelle dimensioni */
}